body{
    overflow: none;
    font-family: Calibri, sans-serif;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
} 

.bgvid{
    width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}


header{
    align: row 3;
}

.title_button{
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.login-box{
    
    margin-left: 20px;
    margin-top: 70px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: min-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;

    box-shadow: 0px 0px 2px 2px;
    
}

.login-box input{
    border-radius: 8px;
    font-size: 15px;
    width: 370px;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    color: black;
    border-width: 2px solid black;
 
}

input:focus{
    outline-style: none;
    box-shadow: none;
    outline: none;
}

.login-box button{
    font-size: 20px;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    
    border-width: 2px solid black;

    transition: background-color .5s, color .5s;
}

.login-box button:hover{
    background-color: black;
    color: white;
}

.forgotpassword-input{
    align-self: flex-start;
    text-decoration: none;
    
}
